body {
    background: #3a3a3a;

}

.container {
    background: #0068aa;
}

img {
    padding: 10px;
}

p.parg {
    text-indent: 30px;
}

.bg-dk-cst {
    background: #2d2d2d;
}

.bg-bl-cst {
    background: #0068aa;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}

.sticky.is-sticky {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    background: #0068aa;
}
