body {
    background: #0068aa;

}

img {
    padding: 10px;
}

p.parg {
    text-indent: 30px;
}

.bg-dk-cst {
    background: #2d2d2d;
}

.dropdown:hover>.dropdown-menu {
  display: block;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
